<div flex="grow" class="backgroundLogin" id="login">      
    <md-button class="contactIcon" aria-label="contact">
        <md-icon class="fa fa-envelope contact"></md-icon>
    </md-button>

	<div layout="row" class="loginForm" layout-align="center center">
         
		<div layout="column" flex="25" layout-padding>
			<div layout="column" layout-align="center">
                <h2 class="md-display-1">Pick your day</h2>
				<md-input-container> 
					<label>Email</label>
					<input ng-model="user.email">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="user.password" type="password" >
				</md-input-container>
				<md-input-container layout-align="center center">
					<md-button ng-click="login()" class="loginButton" flex="30" flex-sm="100">Login</md-button>
				</md-input-container>
			</div>
		</div>
	</div>
</div>