<div flex="grow" class="backgroundLogin" id="login">    
 	<div layout="row">
        <img ng-src="/assets/img/logo.png" height="100px" style="margin-left:2%;margin-top:1%;margin-right:1%;">  
        <h1 style="margin-top:2.5%;color:white;font-size: 24px;">Pick Your Day</h1>
	</div>

	<div layout="column" class="loginForm" layout-align="center center"> 
		<md-tabs md-dynamic-height style="width: 30%;" id="login-tab">
	      <md-tab label="Login">                   
			<div layout="column" layout-align="center">
				<md-input-container> 
					<label>Email</label>
					<input ng-model="user.email">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="user.password" type="password" >
				</md-input-container>
				<md-input-container layout-align="center center">
					<md-button ng-click="login()" class="loginButton" flex="30" flex-sm="100">Login</md-button>
				</md-input-container>
			</div>			
	      </md-tab>
	      <md-tab label="Registro">	
	      	<div layout="column" layout-align="center" class="register">     
        		
	            	<md-input-container flex="50"> 
	            		<label>Nombre</label> 			
	                	<input name="companyname" ng-model="company.name">
	            	</md-input-container>

		            <md-input-container flex="50">			
		                <label>CIF</label>			
		                <input ng-model="company.cif" md-maxlength="9">
		            </md-input-container>
		        
		            <md-input-container flex="50">
		                <label>Email</label> 
		                <input name="email" ng-model="company.email">
		            </md-input-container>

		            <md-input-container flex="55">
		                <label style=" color:white;">Category</label>
		                <md-select ng-model="company.category" multiple style="margin-left: 0%;">
		                    <md-option ng-value="category._id" ng-repeat="category in categories">{{category.name}}</md-option>          
		                </md-select>                  
		            </md-input-container>	
		       
		        <md-input-container layout-align="center center">
					<md-button ng-click="register()" class="loginButton" flex="30" flex-sm="100">Registrarme</md-button>
				</md-input-container>
				</div>	 
	      </md-tab>
	    </md-tabs>
	    </div>
</div>
