<div class="head">
	<i class="fa fa-tags"></i>
	<h1>Servicios</h1>
</div>
<div class="loading" ng-if="loading">
    <h1><i class="fa fa-refresh fa-spin" ></i></h1>
</div>
<div class="companyServices">
	<md-card ng-repeat="service in services" class="serviceList"  flex-md flex-gt-md="50" >
	    <md-card-title>
	      <md-card-title-text>
	      	<div class="serviceCardHead">
		        <p class="serviceName">{{service.id_name.name}}</p>
		        <button class="fa fa-pencil buttonEditService" ng-click="showEditDialog($event,service)"></button> 
		        <button class="fa fa-trash-o buttonDeleteService" ng-click="delete($index)"></button> 
	        </div>   
	      </md-card-title-text>
	    </md-card-title>
	    <div class="servicesCardInfo">
		    <md-card-content class="services">
		      	<p class="serviceDescription">{{service.description}}</p>
		      	<md-card-actions layout="row" layout-align="start center">	          
		            <p class="serviceInfo"><i class="fa fa-clock-o"></i>{{service.duration}} minutos</p>
		            <p class="serviceInfo"><i class="fa fa-eur"></i>{{service.price}} euros</p>	
		           
                </md-card-actions>		
		    </md-card-content>	    
		    <md-button class="md-fab fa fa-user buttonViewResources" ng-click="resourcesView($index)"></md-button>
	    </div>	    
	</md-card>
</div>
<md-button class="md-fab fa fa-plus addService" ng-click="showDialog($event)"></md-button>


<md-sidenav md-component-id="right" class="md-sidenav-right resourcesServices">
	<h2><i class="fa fa-users"></i> Empleados</h2>
	<md-list-item ng-repeat="resourceByService in resourcesByServices">
	   <p>{{resourceByService.resource}}</p>
	   <md-checkbox class="" ng-model="resourceByService.asigned" ng-change="toggle(resourceByService)"></md-checkbox>
	</md-list-item>
</md-sidenav>
