<div class="headServicesList">
	<i class="fa fa-tags"></i>
	<h2>Servicios</h2>
</div>

<md-card ng-repeat="service in services" class="serviceList">
    <md-card-title>
      <md-card-title-text>
        <p class="serviceName">{{service.id_name.name}}</p>
      </md-card-title-text>
    </md-card-title>
    <div class="servicesCardInfo">
	    <md-card-content class="services">
	      	<p class="serviceDescription">{{service.description}}</p>
	      	<md-card-actions layout="row" layout-align="start center">	          
	            <p class="serviceInfo"><i class="fa fa-clock-o"></i>{{service.duration}} minutos</p>
	            <p class="serviceInfo"><i class="fa fa-eur"></i>{{service.price}} euros</p>			
	    </md-card-content>	    
	    <md-button class="md-fab fa fa-user buttonViewResources" ng-click="resourcesView()"></md-button>	
    </div>
</md-card>

<md-button class="md-fab fa fa-plus addService" ng-click="addService()"></md-button>


<md-sidenav md-component-id="right" class="md-sidenav-right resourcesServices">
	<h2><i class="fa fa-users"></i> Empleados</h2>
	<md-list-item>
		<img ng-src="{{item.face}}?{{$index}}" class="face" alt="{{item.who}}">
	    <p>hi</p>
	   <md-checkbox class=""></md-checkbox>
	  </md-list-item>
</md-sidenav>
