<md-dialog style="width:450px;">
<div id="formStyle">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools addServiceToolbar">
        <h2><i class="fa fa-tag"></i> Añadir servicio</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="dialogForm" >   
      <md-content class="md-padding">
        <form name="serviceForm" class="form" layout="column">
          <div flex layout="row" layout-wrap>
              <md-input-container style="margin-right: 10px;">               
                <md-icon class="fa fa-tags formIcon"></md-icon> <label>Servicios</label>
                
                <md-select ng-model="service.id_name" style="margin-left: 0%;">
                    <md-option ng-value="default_service._id" ng-repeat="default_service in servicesByCategory">{{default_service.name}}</md-option>
                </md-select>  
              </md-input-container>
              <md-input-container>              
                <label>Descripción</label>      
                <md-icon class="fa fa-commenting-o formIcon"></md-icon> 
                <input name="description" type="text" ng-model="service.description"></input>
              </md-input-container>
            <md-input-container>
              <label>Duración</label>
              <md-icon class="fa fa-clock-o formIcon"></md-icon>
              <input ng-model="service.duration" name="duration" step="any" type="number">
            </md-input-container>
            <md-input-container>
              <label>Precio</label>
              <md-icon class="fa fa-eur formIcon"></md-icon>
              <input ng-model="service.price" name="price" step="any" type="number">
            </md-input-container>
            <div flex ng-cloak style="margin-left:5%;margin-right:5%;margin-top:-3%;">           
                <md-chips ng-model="service.keywords"
                  readonly="false"
                  placeholder="Palabras clave"
                  delete-button-label="eliminar keyword"
                  delete-hint="Press delete to remove tag"
                  secondary-placeholder="Palabras clave">
                </md-chips>            
            </div>
          </div>
        </form>
      </md-content>        
    </md-dialog-content>
    <md-dialog-actions layout="row">    
      <md-button class="buttonStyle" ng-click="answer()">Aceptar</md-button>
      <md-button style="margin-right:20px;" class="buttonStyle" ng-click="cancel()">Cancelar</md-button>
    </md-dialog-actions>
  </form>
</div>
</md-dialog>