<div id="dashboard" ng-cloack>
<div class="head">
	<i class="fa fa-calendar"></i>
	<h1>Mi negocio</h1>
  <md-datepicker class="calendar" ng-model="myDate" md-placeholder="" style="position:absolute;right: 70px;width:104px;" ng-change="getTimeline(myDate);"></md-datepicker>
</div>
  <button class="menuIcon fa fa-arrow-left" ng-style="{color: '#00796B', 'font-size':'25px', height:'25px',position:'absolute', left:'0'}" ng-click="getTimeline(myDate,'prev')"></button>
  <button class="menuIcon fa fa-arrow-right" ng-style="{color: '#00796B', 'font-size':'25px', height:'25px',position:'absolute',right:'25px'}" ng-click="getTimeline(myDate,'next')"></button>

<div class="loading" ng-if="loading">
      <h1><i class="fa fa-refresh fa-spin" ></i></h1>
</div>

<div ng-cloak class="timeline">
	<div class="timelineHours">
		<div class="left"></div>
		<div class="right">
			<div ng-repeat="space in spaces track by $index">
				<span class="hour">{{space}}</span>      
			</div>
			<div class="lastHour" style="margin-right: -1.5%;">
				<span class="hour">{{lastHour}}</span>
			</div>
		</div>
	</div>  

	<div class="timelineContent" ng-repeat="t in timeline[0].timeLine">    
	 	<p class="timelineNames">
	 		{{t.resource.name}} {{t.resource.surname}}
	 	</p>	 
	 	<div class="timelinePicks_container">
		    <div class="timelinePicks" ng-repeat="r in t.steps[0] track by $index">
		      
          <div ng-if="r == 0" style="background-color:white;" title="Libre">
            <div ng-if="$index == actualHour" style="background-color:red; width: 45%; margin:0 auto;">{{}}</div>
          </div>          
		      <div ng-if="r!=0 && r!=2" class="infoPick dashboard">
                <ul class="label">
                  <div class="employeesActions2">
                    <button class="fa fa-times" ng-click="cancelPick(r.id_pick, myDate)"></button>
                  </div>
                  <div>
                  <li ng-if="r.customer!=''">{{r.customer}}</li>
                  <li ng-if="r.phone!=''">{{r.phone}}</li>
                  <li ng-if="r.service!=''">{{r.service}}</li></div>
                </ul>
                <div ng-if="$index == actualHour" style="background-color:red; width: 45%; margin:0 auto;">{{}}</div>
          </div>
		      <div ng-if="r == 2" style="background-color:#424242;" title="Cerrado">
             <div ng-if="$index == actualHour" style="background-color:red; width: 45%; margin:0 auto;">{{}}</div>
          </div>	
		    </div>       
		</div>
	</div>
</div>


<div id="actualPicks">
  <div class="head">
    <i class="fa fa-calendar-check-o"></i>
    <h1>Picks actuales</h1>
  </div>

  <div class="loading" ng-if="loading2">
    <h1><i class="fa fa-refresh fa-spin" ></i></h1>
  </div>
  <md-list-item class="md-3-line employeesAvatar allEmployees" ng-repeat="employee in employees" ng-init="employee.open=false">  
      <div class="employee">
        <div class="employeesCard" ng-click="showInfo(employee)">
          <ng-letter-avatar data="{{employee.name}}" shape="round"></ng-letter-avatar>
          <p>{{employee.name}} {{employee.surname}}</p>
        </div>        
      </div>
      <div ng-if="employee.open" style="display:flex;padding:1%;">
          <div ng-repeat="p in employee.pick track by $index" class="employeePicks">
            <div ng-if="$index == 0" class="md-list-item-text">
              <div class="head2">
                <i class="fa fa-user" ></i> 
                <p>{{p.nameCli}}</p>
              </div>
              <div class="head2"> 
                <i class="fa fa-phone" style="padding-right:2%;"></i> 
                <p>{{p.phoneCli}}</p> 
              </div>
              <div class="head2">
                <i class="fa fa-tag" ></i> 
                <p>{{p.service.name}}</p>
              </div>
          
              <div class="employeesActions">
                <button class="fa fa-arrow-right" aria-label="edit" ng-click="nextPick(employee._id,p._id,'finished')"></button> 
                <button class="fa fa-times" ng-click="nextPick(employee._id, p._id,'cancelled')"></button>
              </div>  
            </div>
            <div ng-if="$index == 1" class="md-list-item-text ">
              <div class="head2">
                <i class="fa fa-user" ></i> 
                <p>{{p.nameCli}}</p>
              </div>
              <div class="head2">
                <i class="fa fa-phone" ></i> 
                <p>{{p.phoneCli}}</p> 
              </div>
              <div class="head2">
                <i class="fa fa-tag" ></i> 
                <p>{{p.service.name}}</p>
              </div>        
            </div>              
          </div>
          <p ng-if="employee.pick.length ==0">¡Actualmente, no hay ningún pick asociado a este empleado!</p>
        </div> 
      <md-divider></md-divider>  
  </md-list-item>
  <div ng-if="employees.length==0">¡No hay empleados añadidos!</div>
  </div>
</div>