<md-toolbar class="md-tall toolbar">
    <h2 class="md-toolbar-tools">
        <button class="menuIcon fa fa-bars" aria-label="menu" ng-click="openLeftMenu()">

        </button>
    </h2>
    <div id="logoPremium">
        <img src="assets/img/logopremium.png" alt="">
    </div> 

</md-toolbar>

<div flex layout="row">	 
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <div class="webAppMenuInfo" layout="row">
            <img ng-src="{{profile.images[0].src || ('logo.png'|image)}}" class="avatar-sidenav" alt="{{profile.images[0].alt}}" ng-if="profile.images[0]" ui-sref="app.dashboard">

            <img ng-src="{{ 'logo.png'|image}}" class="avatar-sidenav" alt="Default Avatar" ng-if="!profile.images[0]" ui-sref="app.dashboard">
            <div layout="column" flex>
                <h3 class="companyName">{{profile.name}}</h3>
                <div ng-click="closeLeftMenu()"><a ui-sref="app.profile" href="">Editar perfil</a></div>
            </div>
        </div>
        <md-divider></md-divider>
        <div class="webAppMenuOptions" layout="column" layout-align="space-between start">
            <div ng-click="closeLeftMenu()"><a ui-sref="app.dashboard"><i class="fa fa-user"></i> Mi Negocio</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="app.employees"><i class="fa fa-users"></i> Empleados</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="app.services"><i class="fa fa-tags"></i> Servicios</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="app.ownpick" ><i class="fa fa-plus-circle"></i> Crear Pick</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="app.promotions"><i class="fa fa-bullhorn"></i> Promociones</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="stats.normal"><i class="fa fa-line-chart"></i> Estadísticas</a></div>

            <div ng-click="closeLeftMenu()"><a ui-sref="app.settings"><i class="fa fa-cog"></i> Configuración</a></div>
            <div ng-click="closeLeftMenu()"><a ui-sref="app.help"><i class="fa fa-question-circle"></i> Ayuda</a></div>
            <div><button class="webAppMenuOptions" ng-click="logout()"><i class="fa fa-power-off"></i> Cerrar sesión</button></div>
        </div>  
    </md-sidenav>


    <div flex id="content">
        <div layout="column" class="container1">  
            <div ui-view="content">
            </div>
        </div>
    </div>

</div>
