<md-toolbar class="md-tall backgroundLogin toolbar">
      <h2 class="md-toolbar-tools">
        <md-button class="menuIcon" aria-label="menu" ng-click="openLeftMenu()">
          <md-icon class="fa fa-bars menu"></md-icon>
        </md-button>
      </h2>
    </md-toolbar>

<div flex layout="row">	 
  <md-sidenav md-component-id="left" class="md-sidenav-left">
  <div class="webAppMenuInfo">
    <img src="" alt="">
    <h2 class="companyName">{{profile.name}}</h2>
  </div>
  <md-divider></md-divider>
    <div class="webAppMenuOptions" layout="column" layout-align="space-between start">
      <div><a ui-sref="app.companiesProfile"><i class="fa fa-user"></i> Mi perfil</a></div>
      <div><a ui-sref="app.dashboard"><i class="fa fa-calendar"></i> Dashboard</a></div>
      <div><a ui-sref="app.dayDashboard"><i class="fa fa-calendar-check-o"></i> Hoy</a></div>
      <div><a ui-sref="app.employees"><i class="fa fa-users"></i> Empleados</a></div>
      <div><a ui-sref="app.services"><i class="fa fa-tags"></i> Servicios</a></div>
      <div><a ui-sref="app.addPick" ><i class="fa fa-plus-circle"></i> Pick manual</a></div>
      <div><a ui-sref="app.promotion"><i class="fa fa-bullhorn"></i> Crear promoción</a></div>
      <div><a ui-sref="app.statistics"><i class="fa fa-line-chart"></i> Estadísticas</a></div>
      <div><a ui-sref="app.3Dstatistics"><i class="fa fa-bar-chart"></i> Estadísticas 3D</a></div>
      <div><a ui-sref="app.settings"><i class="fa fa-cog"></i> Ajustes</a></div>
      <div><a ui-sref="app.help"><i class="fa fa-question-circle"></i> Ayuda</a></div>
      <div><button class="webAppMenuOptions" ng-click="logout()"><i class="fa fa-power-off"></i> Cerrar sesión</button></div>
    </div>  
  </md-sidenav>

 	
  <div flex id="content">
    <div layout="column" class="container1">  
      <div ui-view="content">
      </div>
    </div>
  </div>
	
</div>
