<div id="companyProfile">
	<div class="">
		<img src="" alt="">
		<h3 class="md-headline">Mi perfil</h3>
	</div>

	<form name="userForm" class="companyProfileForm" layout="column">
		<md-input-container>
			<label>Nombre</label>
			<input name="companyname" ng-model="name" required>
		</md-input-container>
		<md-input-container>
			<label>Descripcion</label>
			<textarea name="description" ng-model="description"></textarea>
		</md-input-container>
		
		<h4 class=".md-subhead">Horario de apertura</h4>
		<md-input-container>		
			<div class="range layout-column flex-gt-md-30">
			  <md-input-container class="md-input-has-placeholder">			    
			    <input mdc-datetime-picker="" date="true" time="true" type="text"
			    placeholder="Desde" max-date="dateTimeEnd" ng-model="dateTimeStart" class=" md-input"
			    id="input_0">
			  </md-input-container>
			  <md-input-container class="md-input-has-placeholder">
			    <input mdc-datetime-picker="" date="true" time="true" type="text"
			    placeholder="Hasta" min-date="dateTimeStart"="dateTimeEnd" class=" md-input" id="input_1">
			  </md-input-container>
			</div>
		</md-input-container>
		<md-input-container>
			<label>Vacaciones</label>
			<input name="vacaciones" ng-model="vacaciones" required>
		</md-input-container>
		<md-input-container>
			<label>Localización</label>
			<input name="location" ng-model="location" required>
		</md-input-container> 
		<md-input-container>  
			<label>Datos de contacto</label>
			<input name="contactInfo" ng-model="contactInfo" required>
		</md-input-container> 
		<md-input-container>  
			<label>Fotos</label>
	 	</md-input-container>
	</form>
</div>