<div id="companyProfile">	
	<h3 class="md-headline">Mi perfil</h3>
	<form name="userForm" class="companyProfileForm" layout="column">
		<md-input-container>
			<label>Nombre</label>
			<input name="companyname" ng-model="profile.name">
		</md-input-container>
		<md-input-container>
			<label>Descripcion</label>
			<textarea name="description" ng-model="profile.description"></textarea>
		</md-input-container>
		
		<p class=".md-subhead">Horario de apertura</p>
		<md-input-container>		
			<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Desde" min-date="date" ng-model="dateTime" class=" md-input">
		</md-input-container>
		<md-input-container>
			<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Hasta" min-date="date" ng-model="dateTime" class=" md-input">
		</md-input-container>
		<md-input-container>
			<label>Email</label>
			<input name="email" ng-model="profile.email">
		</md-input-container>

		<md-input-container>
			<label>Sitio web</label>
			<input name="website" ng-model="profile.web">
		</md-input-container> 

		
		<p class=".md-subhead">Localización</p>
		<md-input-container >  
	      <md-list-item class="locationInfo">		
	      		<p class="location"> {{profile.location.name}}</p> 
	      		<p class="location"> {{profile.location.address}}</p> 
	      		<p class="location"> {{profile.location.country}}</p>
	      		<p class="location"> {{profile.location.city}}</p>
	      		<p class="location"> {{profile.location.province}}</p>
	      		<p class="location"> {{profile.location.zipcode}}</p>			     
		   </md-list-item>
		   <div ng-if="profile.phone.length==0">
		   	<p>no hay telefonos</p>
		   </div>			
		</md-input-container> 

		<p class=".md-subhead">Teléfono</p>
		<md-input-container class="phoneList">  
	      <md-list-item ng-repeat="phones in profile.phone">	      	 	
	  	 		<i class="fa fa-phone"></i>
	      		<p class="phones"> {{phones}}</p> 	      	 			     
		   </md-list-item>
		   <div ng-if="profile.phone.length==0">
		   	<p>no hay telefonos</p>
		   </div>			
		</md-input-container> 
		<p class=".md-subhead">Fotos</p>
		<md-input-container>  
			<div class="companyImages" ng-repeat="image in profile.images">				
				 <img ng-src="{{image.src}}" alt="{{image.alt}}">
				 <md-button class="md-fab fa fa-times deleteImageIcon" aria-label="delete">
				 
				</md-button>
			</div>
	 	</md-input-container>
	</form>
</div>