<div style="display:flex; flex:1;">
    <div class="head">
        <i class="fa fa-user"></i>
        <h1>Mi negocio</h1> 
    </div>   
    <div class="iconState">
        <i id="state" class=""></i>
    </div> 
    <div>
        <button id="request" class="" ng-click="sendRequest()" title="Enviar solicitud"></button>
    </div>
</div>
<div class="loading" ng-if="loading">
    <h1><i class="fa fa-refresh fa-spin" ></i></h1>               
</div>

<div id="formStyle" class="profileForm">	
    <form name="userForm" class="form" layout="column">
        <div flex layout="row" layout-wrap>
            <md-input-container flex="40">			
                <label>Nombre</label>
                <md-icon class="fa fa-user formIcon"></md-icon> 			
                <input name="companyname" ng-model="profile.name" ng-disabled="!editable">
            </md-input-container>

            <md-input-container flex="25" flex-offset="10" class="md-block">			
                <label>CIF</label>
                <md-icon class="fa fa-briefcase formIcon"></md-icon> 			
                <input ng-model="profile.cif" ng-disabled="true" md-maxlength="9">
            </md-input-container>
        </div>

        <div flex layout="row" layout-wrap>
            <md-input-container flex="40">
                <label>Email</label>
                <md-icon class="fa fa-envelope-o formIcon"></md-icon> 
                <input name="email" ng-model="profile.email" ng-disabled="true">
            </md-input-container>

            <md-input-container flex="45" flex-offset="10">
                <label>Sitio web</label>
                <md-icon class="fa fa-globe formIcon"></md-icon> 
                <input name="website" ng-model="profile.web" ng-disabled="!editable">
            </md-input-container>	
        </div>

        <md-input-container flex  class="md-block">			
            <label>Descripción</label>			
            <md-icon class="fa fa-commenting-o formIcon"></md-icon> 
            <textarea ng-model="profile.description" md-maxlength="300" rows="5" cols="10" md-select-on-focus ng-disabled="!editable" style="height:8px;"></textarea>
        </md-input-container>

        <div ng-cloak>		
             <md-input-container style="width: 100%;">        
                <label>Palabras clave</label>          
                <md-icon class="fa fa-key formIcon"></md-icon> 
            </md-input-container>
            <md-chips id="keywordsProfile" ng-if="checkKeywords()" ng-model="profile.keywords" readonly="!editable"></md-chips>
            <p ng-if="!checkKeywords()">¡No hay palabras clave!</p>
        </div>
   
        <div flex ng-cloak>
            <div>               
                <md-input-container >        
                    <label>Horario</label>          
                    <md-icon class="fa fa-calendar formIcon"></md-icon> 
                </md-input-container>
                <md-button style="float:right;" class="buttonStyleSimple" ng-if="editable" ng-click="addSchedule()" flex>+ añadir Horario</md-button>
            </div>
            <md-card id="horario" ng-repeat="schedule in profile.scheduleActivity" ng-init="schedule.show=false" >
                <md-card-header ng-click="schedule.show=!schedule.show">
                    <md-card-header-text layout="row" layout-align="space-between center">
                        <div flex="100">
                            <md-datepicker ng-model="schedule.initial" md-placeholder="Introduce fecha inicial" class="only-button-date"></md-datepicker>{{schedule.initial | date: 'MMMM dd'}}
                            -
                            <md-datepicker ng-model="schedule.end" md-placeholder="Introduce fecha inicial" class="only-button-date"></md-datepicker>{{schedule.end |date: 'MMMM dd'}}
                        </div>

                        <span flex="5" class="collapse-icon" ng-click="schedule.show=!schedule.show">
                            <i class="fa fa-angle-right" ng-if="!schedule.show"></i>
                            <i class="fa fa-angle-down" ng-if="schedule.show"></i>
                            
                        </span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content ng-if="schedule.show" style="margin-top:-5%;">
                    <md-list class="md-dense" >
                        <md-subheader class="md-no-sticky">Semana</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="daytime in schedule.week">
                            <div class="md-list-item-text" layout="column" style="margin-bottom: 1%;" >
                                <h3 class="mb1comma5" flex>{{daytime.day}}</h3>
                                <md-chips style="margin-bottom: -1%;" ng-model="daytime.times" md-on-add="checkTime(daytime)" readonly="!editable" flex placeholder="08:00-14:00">
                                </md-chips>
                                <p class="note" ng-if="daytime.times==0">
                                    Cerrado
                                </p>
                            </div>

                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <p ng-if="!checkSchedules()">¡No hay horarios!</p>
        </div>

        <div layout="column" flex >
            <md-input-container flex> 
                <label>Dirección</label>
                <md-icon class="fa fa-map-marker formIcon"></md-icon>
                <input type="text" name="address" ng-model="profile.location.address" ng-disabled="!editable">
            </md-input-container>

            <div layout="row">
                <md-input-container flex="40"> 
                    <label>País</label>
                    <input type="text" name="country" ng-model="profile.location.country" ng-disabled="!editable">
                </md-input-container> 
                <md-input-container flex="45" flex-offset="10"> 
                    <label>Provincia</label>
                    <input type="text" name="province" ng-model="profile.location.province" ng-disabled="!editable"> 
                </md-input-container> 
            </div>
            <div layout="row">
                <md-input-container flex="40"> 
                    <label>Ciudad</label>
                    <input type="text" name="city" ng-model="profile.location.city" ng-disabled="!editable">
                </md-input-container> 
                <md-input-container flex="45" flex-offset="10">
                    <label>Código postal</label>
                    <input type="text" name="zipcode" ng-model="profile.location.zipcode" ng-disabled="!editable">	   
                </md-input-container> 
            </div>

            <div layout="row">
                <md-input-container flex="40">
                    <label>Latitud</label>
                    <input type="text" name="zipcode" ng-model="profile.location.geolocation.latitude" ng-disabled="!editable" >
                </md-input-container>
                <md-input-container flex="45" flex-offset="10">
                    <label>Longitud</label> 
                    <input type="text" name="zipcode" ng-model="profile.location.geolocation.longitude" ng-disabled="!editable" >

                </md-input-container> 
            </div>

            <ng-map zoom="20" center="[{{profile.location.geolocation.latitude}}, {{profile.location.geolocation.longitude}}]">
                <marker position="[{{profile.location.geolocation.latitude}}, {{profile.location.geolocation.longitude}}]" title="drag me" draggable="{{editable}}"></marker>
            </ng-map>
        </div>

        <div layout="column" flex style="margin-top:2%;">
            <md-input-container style="width: 100%;">        
                <label>Datos de contacto</label>          
                <md-icon style="color:black;" class="fa fa-phone formIcon"></md-icon> 
            </md-input-container>
            <div layout="row">
                <md-list ng-cloak flex="50">
                    <md-subheader>Teléfonos</md-subheader>
                    <md-list-item ng-if="editable" style="height: 25px;">
                        <p class="phones"> 
                            <i class="fa fa-phone"></i>                       
                            <md-input-container>
                                <input type="tel" name="phone" ng-model="aux.phone">
                            </md-input-container>

                            <md-button class="md-icon-button" aria-label="More">
                                <md-icon md-font-icon="fa-plus-circle" class="fa fa-md fa-md-large"  aria-label="add" ng-click="addPhone()"></md-icon>
                            </md-button>
                        </p>
                    </md-list-item>
                    <md-list-item ng-repeat="phones in profile.phone" style="width: 70%;">
                        <p class="phones"> <i class="fa fa-phone"></i> {{phones}}</p>

                        <md-button class="md-icon-button" aria-label="delete">
                            <md-icon md-font-icon="fa-times" class="fa fa-md"  ng-if="editable" aria-label="add" ng-click="deletePhone($index)"></md-icon>
                        </md-button>

                    </md-list-item>
                    <md-list-item ng-if="profile.phone.length==0" ><p>¡Ningún teléfono añadido!</p></md-list-item>
                </md-list>

                <md-list ng-cloak flex="50" flex-offset="10">
                    <md-subheader>Emails secundarios</md-subheader>
                    <md-list-item ng-if="editable"  style="height: 25px;">
                        <p class="phones"> 
                            <i class="fa fa-envelope-o emailSecond"></i>
                            <md-input-container>
                                <input type="email" ng-model="aux.emailSecond">
                            </md-input-container>

                            <md-button class="md-icon-button" aria-label="More">
                                <md-icon md-font-icon="fa-plus-circle" class="fa fa-md fa-md-large"  aria-label="add" ng-click="addEmailSecond()"></md-icon>
                            </md-button>
                        </p>
                    </md-list-item>
                    <md-list-item ng-repeat="email in profile.emailSecond"  style="width: 70%;">
                        <p class="phones"> <i class="fa fa-envelope-o emailSecond"></i> {{email}}</p>
                        <md-button class="md-icon-button" aria-label="delete">
                            <md-icon md-font-icon="fa-times" class="fa fa-md"  ng-if="editable" aria-label="add" ng-click="deleteEmailSecond($index)"></md-icon>
                        </md-button>	
                    </md-list-item>
                    <md-list-item ng-if="profile.emailSecond.length==0" ><p>¡Ningún email añadido!</p></md-list-item>
                </md-list>
            </div>
        </div>        
        <div layout="column" >
            <div layout="row">
                <md-input-container style="margin-bottom:4%;">        
                    <label>Fotos</label>          
                    <md-icon class="fa fa-camera formIcon"></md-icon>
                </md-input-container>
                <md-button class="buttonStyleSimple" ng-click="addImages()" style="float: left;margin-top:6%" ng-if="editable">+ añadir fotos</md-button>
            </div>
            <div ng-if="profile.images.length == 0">
                <p>¡No hay fotos!</p>
            </div>
            <md-input-container> 
                <div class="companyImages" ng-repeat="image in profile.images">				
                    <img ng-src="{{image.src}}" alt="{{image.alt}}">
                    <md-button class="md-fab fa fa-times deleteImageIcon" aria-label="delete" ng-click="deleteImage($index)" ng-if="editable"></md-button>
                </div>
                <input id="newFile" type="file" name="images" base-sixty-four-input ng-model="images.data" ng-if="editable"  style="display:none;">
            </md-input-container>
        </div>  

        <md-input-container>        
            <label>Cuenta premium</label>          
            <md-icon class="fa fa-diamond formIcon"></md-icon>
        </md-input-container>
        <div class="premium">
            <md-input-container>
                <label>Duración</label>
                <md-select id="premium" ng-model="typePremium">
                    <md-option ng-value="1">1 mes</md-option>  
                    <md-option ng-value="2">6 meses</md-option>  
                    <md-option ng-value="3">1 año</md-option>          
                </md-select>                  
            </md-input-container>
            <md-button class="buttonStyleSimple" ng-click="setPremium()">Pagar</md-button>
        </div>
        <div id="timePremium">
           <p>Hasta: {{dateExpire}}</p>
        </div>      
        <div style="display:flex;margin-top:-5%;right:30px;position:absolute;">
            <md-button class="buttonStyle3" ng-if="editable" ng-click="saveChanges()">Guardar cambios</md-button>
            <md-button class="buttonStyle3" ng-if="editable" ng-click="cancel()">Cancelar</md-button>
        </div>
    </form>
    <md-button class="md-fab fa fa-pencil" id="editProfile" ng-if="!editable" ng-click="edit()"aria-label="editProfile"></md-button>
</div>

