<div class="head">
    <i class="fa fa-bullhorn"></i>
    <h2>Editar promoción</h2>
</div>
<div id="formStyle">
    <form name="promotionForm" layout="column" class="form">        
        <md-input-container>           
            <label>Título</label>
             <md-icon class="fa fa-pencil formIcon"></md-icon> 
            <input ng-model="promotion.name" name="title">
        </md-input-container>

        <md-input-container>
            <label>Descripción</label>
            <md-icon class="fa fa-commenting-o formIcon"></md-icon> 
            <input type="text" ng-model="promotion.description" name="description" ></input>
        </md-input-container>
           
        <md-input-container>
          <label>Máximo de unidades</label>
          <md-icon class="fa fa-users formIcon"></md-icon>
          <input ng-model="promotion.useLimit" name="units" step="any" type="number">
        </md-input-container>

        <md-input-container>
            <label>Descuento</label>
            <md-icon class="fa fa-percent formIcon"></md-icon>
            <input type="number" step="any" name="discount" ng-model="promotion.discount" min="0" max="100"/>     
        </md-input-container>

        <md-input-container>  
            <md-icon class="fa fa-calendar formIcon"></md-icon>      
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Fecha desde" min-date="date" ng-model="promotion.initDate">
        </md-input-container>
        <md-input-container>
            <md-icon class="fa fa-calendar formIcon"></md-icon>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Fecha hasta" min-date="date" ng-model="promotion.endDate">
        </md-input-container>

        <md-checkbox ng-model="promotion.ownCustomers" aria-label="onlyClients" style="margin-left:0.25%;">Solo clientes</md-checkbox>

        <p class=".md-subhead">Fotos</p>
        <md-input-container>
            <div class="companyImages" ng-repeat="image in promotion.images">             
                 <img ng-src="{{image.src}}" alt="{{image.alt}}">
                 <md-button class="md-fab fa fa-times deleteImageIcon" ng-if="editable" aria-label="delete" ng-click="deleteImage($index)"></md-button>
            </div>
        </md-input-container>
        <input id="newFile" type="file" name="images" base-sixty-four-input ng-model="images.data" style="display:none;">        
        <md-button class="buttonStyleSimple" ng-click="addImages()" style="margin-top: -6%;">+ añadir fotos</md-button>

        <md-input-container style="margin-right: 10px;">
            <label>Servicios asociados</label>
            <md-select ng-model="promotion.services" multiple>
                <md-option ng-value="service._id" ng-repeat="service in services">{{ service.id_name.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-button class="buttonStyle2" ng-if="editable" ng-click="saveChanges()">Guardar cambios</md-button>
    </form>   
</div>