<md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>

<canvas alexandra-view data-id="view_1" alexandra-config="config" alexandra-source="data" width="800" height="500"></canvas>
<div layout="row">
    <div flex="20"  flex-offset="5"  ng-show="statsTime">
        <md-slider-container>
            <label>Día del mes</label>
            <md-slider class="md-primary" md-discrete step="1" min="1" max="30" aria-label="rating" ng-model="index" ng-change="select()">
            </md-slider>
        </md-slider-container>
    </div>
    <md-select flex="20" ng-model="selected.statType"  flex-offset="5" placeholder="Selecciona x/y/z" ng-change="changeStatType()">

        <md-option value="pick">Estado de Pick/Cantidad/Servicio</md-option>

        <md-option value="score">Valoración/Cantidad/Servicio</md-option>
        <md-option value="money">Empleado/Dinero/Servicio</md-option>
        <md-option value="work">Empleado/Tiempo Trabajado/Servicio</md-option>
    </md-select>

    <md-select flex="15" style="margin-right:5%;" ng-model="config.engine"  flex-offset="5" placeholder="Selecciona engine">

        <md-option value="phong">Phong</md-option>

        <md-option value="phong_positional">Phong Positional</md-option>
        <md-option value="toon">Toon</md-option>
        <md-option value="phong_lights">Phong Several Lights</md-option>
    </md-select>
    <md-checkbox flex="10" ng-model="config.selector" aria-label="Selector">
        Use Selector
    </md-checkbox>
    <md-select flex="15" style="margin-right:5%;" ng-model="config.effect"  ng-if="!config.selector" flex-offset="5" placeholder="Selecciona effect">

        <md-option value="no">No Effect</md-option>

        <md-option value="invert">Negative</md-option>
        <md-option value="grey">Greyscale</md-option>
        <md-option value="blur">Blur</md-option>
        <md-option value="film">Film</md-option>
        <md-option value="wavy">Wavy</md-option>
        <md-option value="all">Random</md-option>
    </md-select>


</div>


<div ng-if="statsTime" layout="row" style="position: fixed;
                                           top: 50px;
                                           left: 30px;
                                           width: 410px;
                                           background-color: white;
                                           padding-left: 27px;
                                           box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);">
    <p flex="30">X: {{selectedInfo[0]||'N/A'}}</p>
    <p flex="10">Y: {{selectedInfo[1] || '0'}}</p>
    <p flex>Z: {{selectedInfo[2]||'N/A'}}</p>
</div>