.contactIcon,.contact{
	color: white;
    float: right;
    font-size: 40px;
    margin: 3%;
    width: 50px;
    height: 50px;
    background-color: none;
}
.contactIcon:not([disabled]):hover{
	background-color: transparent;
}
.backgroundLogin{
	background-image: url("https://googledrive.com/host/0B-TPTaV5ouD7TUtDXzVxQmhYa1E/fondo_login.png");
}
.loginForm h2{
	color:white;
	text-align: left;
}
#login label{
	color: white;
}
.loginForm .md-input, #login input:focus{
	border-color: white;
}
.loginButton{
	min-width: 100%;
	margin:0;
	background-color: rgba(0, 82, 82, 0.76);
	color:white;
}
.loginButton:hover{
	background-color: rgba(222, 214, 214, 0.2);
}
