.companyName{
    font-size: 25px;
    color: white;
    margin: 4%;
}
.webAppMenuInfo{
    background-color: #009688;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.toolbar{
    position:fixed;
    overflow: auto;
}
#content{
    /*background-color:#d5d1ca;*/
    overflow:visible;
    padding-bottom: 5%;
    /*height:100%;*/
}
.webAppMenuOptions{
    font-size: 18px;
    margin-left: 5%;
}
button.webAppMenuOptions {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    margin-left: -5%;
}
.webAppMenuOptions > div {
    margin-top: 4%;
}
.webAppMenuOptions a {
    text-decoration: none;
    color:black;
}
.dayDasboardDate{
    display:flex;
}
.container1{
    background-color: white;
    width:65%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 4%;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(203,200,194,0.52);
    -moz-box-shadow: 0px 0px 0px 10px rgba(203,200,194,0.52);
    box-shadow: 0px 0px 0px 10px rgba(203,200,194,0.52);
    position: relative;
    z-index: 2;	
    overflow:hidden;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 3%;
}
.ng-scope{
    height:100%;
}
/*Login*/
.contactIcon,.contact{
    color: white;
    right:0;
    top:0;
    font-size: 40px;
    margin: 3%;
    width: 50px;
    height: 50px;
    background-color: none;
    position: absolute;
}
.menuIcon{
    color: white;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 5%;
    border:none;
    background-color: transparent;
}
.contactIcon:not([disabled]):hover, .menuIcon:not([disabled]):hover{	
    background: none;
}
.backgroundLogin, md-toolbar:not(.md-menu-toolbar){
    background-color: transparent;
    background-image: url("https://googledrive.com/host/0B-TPTaV5ouD7TUtDXzVxQmhYa1E/fondo_login.png");	
}

.loginForm input{
    color:white;
}
.loginForm{
    height: 100%;
}
.loginForm h2{
    color:white;
    text-align: left;
}
#login label{
    color: white;
}
.loginForm .md-input, #login input:focus{
    border-color: white;
}
.loginButton{
    min-width: 100%;
    margin:0;
    background-color: rgba(0, 82, 82, 0.76);
    color:white;
}
.loginButton:hover{
    background-color: rgba(222, 214, 214, 0.2);
}
/*Company profile*/
md-input-container>md-select{
    margin-left: 9%;
    margin-right: 3%;    
}
.form input{
    color:#000;
}
#formStyle label, .form p{
    color:rgba(0, 0, 0, 0.57);
}
.form .md-input,#formStyle input:focus, #formStyle textarea, #formStyle input, #formStyle md-select, #formStyle md-option{
    border-color: rgba(0, 0, 0, 0.3);
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header, .dtp div.dtp-date, .dtp div.dtp-time, .dtp table.dtp-picker-days tr > td > a.selected,.dtp .dtp-picker-time > a.dtp-select-hour.selected,.dtp .dtp-hand.on, .dtp .dtp-actual-meridien a.selected{
    background-color: #009688;
}
.companyImages{
    display:inline;
    margin-right: 2%;
}
.companyImages > img {
    width: 205px;
    height: 150px;
    margin-bottom: 5%;
}
.companyImages .deleteImageIcon{
    background-color: #009688;
    font-size: 20px;
    vertical-align: top;
    width: 35px;
    height: 35px;
    line-height: 0px;
    border:50%;
    /*display:none;*/
}

/*hover*/
.companyImages .deleteImageIcon:not([disabled]):hover,.buttonViewResources.md-fab:not([disabled]):hover, .addService.md-fab:not([disabled]):hover, .addEmployee.md-fab:not([disabled]):hover, .md-fab.editProfile:not([disabled]):hover{
    background-color: #00796B;
}
/*focus*/
.companyImages .deleteImageIcon:not([disabled]):focus,.buttonViewResources.md-fab:not([disabled]):focus, .addService.md-fab:not([disabled]):focus, .addEmployee.md-fab:not([disabled]):focus, .md-fab.editProfile:not([disabled]):focus{
    background-color: #00796B;
}
/*active*/
.companyImages .deleteImageIcon:not([disabled]):active,.buttonViewResources.md-fab:not([disabled]):active, .addService.md-fab:not([disabled]):active, .addEmployee.md-fab:not([disabled]):active, .md-fab.editProfile:not([disabled]):active{
    background-color: #00796B;
}
.companyImages > button {
    margin-top: -2%;
    margin-left: -3%;
}
.locationInfo{
    display: block;
    margin-top: -3%;
}
.locationInfo > p{
    color:black;
    margin-left: 1%;
    margin-top: 3.5%;
    margin-bottom: -3%;
}
p.phones{
    color:black;
    margin-left: 4%;
}
.phoneList{
    margin-top: -1%;
    width: 25%;
}
.fa-phone, .emailSecond{
    font-size: 25px;
    margin-right: 1%;
    color:#009688;
}
.md-fab#editProfile{
    background-color: #009688;
    font-size: 20px;
    float:right;
}
#saveProfile, #addPhone,#addImage, #addEmailSecond{
    display:none;
}
/*Servicios*/
.head{
    display:inline-flex;
    width:100%;
    margin-top: 2%;
}
.head > i{
    font-size: 30px;
    padding-top: 2%;
    padding-right: 2%;
}
.services{
    width:90%;
}
.serviceList>md-card-title{
    background-color: #009688;	
    padding:0;
}
.serviceList>md-card-title p{
    margin-left: 2%;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.serviceInfo, .serviceDescription{
    font-size: 15px;
    margin:0.5%;
}
.buttonViewResources.md-fab{
    float: right;
    font-size:20px;
    background-color: #009688;
    margin-top: 5%;
    width: 60px;
    height: 50px;
    line-height: 2px;
}
.addService.md-fab, .addEmployee.md-fab{
    font-size:20px;
    background-color: #009688;
    float: right;    
    margin-right: -4%;
    margin-top: 4%;
    margin-bottom: -2%;
}

.servicesCardInfo{
    display:flex;
}
.servicesCardInfo md-card-actions{    
    margin-top: 5%;
    margin-left: -9%;
}
.services i{
    margin-right: 5%;
    font-size: 18px;	
}
.serviceInfo{
    /*width: 15%;*/
    width: 40%;
    margin-left: 10%;
}
.resourcesServices{
    width: 80%;
    padding-left: 2%;
}
.resourcesServices md-list-item {
    height: 0%;
}
md-checkbox.md-checked .md-icon {
    background-color: #009688;
}
md-checkbox .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple{
    color: #009688;
}
/*.serviceList {
margin-bottom: 5%;
}*/
.companyServices{
    display:flex;
}
.companyServices md-card{
    width:50%;
}
.buttonDeleteService, .buttonEditService{
    color:white;
    font-size: 25px;
    margin-right: 5%;
    background:none;
    border:none;
}
.buttonEditService{
    font-size: 20px;
    font-weight:normal;
}
.serviceCardHead{
    display:flex;
}

.serviceCardHead p{
    width:100%;
}
.addServiceToolbar{
    background-color: #009688;
    color:white;
}
.datePicker{
    margin-left: 1%;
}
/*crear promocion*/
.buttonStyle,.buttonStyleSimple{
    background-color: none;
    color:#009688;
}
.buttonStyle2{
    background-color: #009688;
    color: white;
    width:20%;
    margin-top: 3%;
}
.buttonStyleSimple:not([disabled]):hover,.buttonStyleSimple:not([disabled]):active,.buttonStyleSimple:not([disabled]):focus{
    background-color: transparent;
}
.buttonStyle:not([disabled]):hover,.buttonStyle:not([disabled]):active,.buttonStyle:not([disabled]):focus, 
.buttonStyle2:not([disabled]):hover,.buttonStyle2:not([disabled]):active,.buttonStyle2:not([disabled]):focus{
    background-color: #00796B;
    color:white;
}
.formIcon{
    font-size: 22px;
}
md-input-container:not(.md-input-invalid).md-input-focused .formIcon, md-input-container:not(.md-input-invalid).md-input-focused .fa-phone, md-input-container:not(.md-input-invalid).md-input-focused .emailSecond{
    color: black;
}
#formStyle md-checkbox{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
}
md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #009688;
}
.deletePhoneIcon{
    color:#009688;
    background: transparent;
    border: none;
    /*display:none;*/
}
md-select-menu md-option[selected]:focus, md-select-menu md-option[selected]{
    color: #009688;
}
/*DayDashboard*/
.employeesAvatar img{
    margin-top: 2.5%;
    margin-right: 2%;
}
.dayEmployee{
    margin-top: 2%;
    margin-bottom: 2%;	
}
.pickActions > button{
    background: transparent;
    border: none;
    display:block;
    padding-bottom: 25%;
    font-size: 20px;
}
.nextPick{
    border-left: 2px solid #E1E1E1;
}
.nextPick h3, .nextPick h4{
    padding-left: 3%;
}
/*Employees*/
.infoEmployee{
    margin-left: 9%;
}
.infoEmployee > i{
    font-size: 20px;
    margin-top: 1%;
}
.allEmployees{
    display:block;
}
.employeesCard{
    display:flex;
}
.employeesCard > p{
    margin-top: 4%;	
}
.timetableHead, .tagsHead{
    display:flex;	
    margin-top: -2%;
}
.timetableHead > i, .tagsHead > i{
    font-size: 20px;
    margin-top: 2.2%;
    margin-right: 1%;
}
.employeeServices md-list-item{
    margin-top: -3%;
    margin-left: 2%;
}
.modifyButton, .deleteButton{
    background:transparent;
    border:none;
    float:right;
    font-size: 18px;
    margin-top: -50px;
}
.deleteButton{
   margin-top: -15px; 
}
/*my promotions*/
.promotions > img{
    width:150px;
    height:100px;
    margin:2%;
}
.promotions p{
    font-size: 25px;
}
.promotions > div i {
    margin-right: 2%;
}
.promotionActions{
	margin-top: 10%;
	margin-bottom: 2%;
}
.promotionActions > button{
	background: transparent;
	border: none;
	display:inline;
    font-size: 22px;
}
.dialogForm md-input-container {       
    display:inline-block;
    width:100%;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 1%;
}
/*toast*/
.message-toast{
    height: auto;
    font-weight: bold;
    width: -24%;
 
    text-align: center;
    margin-left: 1.5%;
    margin-top: 1.5%;
    position:fixed;
}
.md-toast-content{
    font-size: 1.5em;
}
.toast-theme-warning .md-toast-content{
    background-color:#FBC02D;
}

.toast-theme-error .md-toast-content{
    background-color:#FF5252;
}

.toast-theme-success .md-toast-content{
    background-color:#8BC34A;
}

.fa-md {
    height: auto;
    font-size: 1.5em;
    color:#009688;
}
.fa-md-large{
    font-size: 2em;
}
.mb10{
    margin-bottom: 10%;
}
.mb5{
    margin-bottom: 5%;
}

.avatar-sidenav{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: white;
}

.webAppMenuInfo a:hover{
   color: rgb(230, 217, 217);
}

.mt1{
    margin-top: 1%;
}
.tile-day{

}

.tile-day .tile-add{ 
margin-top: -15%;
}

.interval .md-datepicker-input-container{
    display: none;
}

.md-dialog-container{
    position: fixed;
}

/***CHIPS***/
md-chips .md-chip{
    background: 0 1px #009688;
    color:white;
    margin-top: 5%;
}
.md-chips .md-chip .md-chip-remove md-icon {
    color:white;
}