<div class="head">
  <i class="fa fa-users"></i>
  <h2>Empleados</h2>  
</div>
<md-list-item class="md-3-line employeesAvatar allEmployees" ng-repeat="employee in employees" ng-init="employee.open=false">
  <div class="employeesCard" ng-click="showInfo(employee)">
    <ng-letter-avatar data="{{employee.name}}" shape="round"></ng-letter-avatar>
    <p>{{employee.name}} {{employee.surname}}</p>    
  </div> 
  <div ng-if="employee.open">
    <div class="infoEmployee">
      <div class="timetableHead">
        <i class="fa fa-calendar" ></i> 
        <p>Horario: </p>
      </div>       
      <div class="tagsHead">
        <i class="fa fa-tags" ></i>  
        <p>Servicios asignados</p>
        <md-list-item class="md-3-line" ng-repeat="service in employee.services">
          <p>{{service.id_name.name}}</p>
        </md-list-item>
      </div>
    </div>
     <!--<md-chips ng-model="" readonly="ctrl.readonly"></md-chips>-->
  </div>
  <md-divider></md-divider>  
</md-list-item>
<md-button class="md-fab fa fa-plus addEmployee" ng-click="showDialog($event)"></md-button>
