<div ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Perica de los palotes</span>
            <span class="md-subhead">Horario</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"><img ></div>
          </md-card-title-media>
        </md-card-title>
		<md-list ng-cloak>
			<md-subheader class="md-no-sticky">Servicios asociados</md-subheader>
			<div ng-repeat="service in services" class="resourcesServices">
				<p> {{service.id_name.name}} <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox></p>
			</div>
		</md-list>

    <md-button class="md-fab fa fa-plus addService" ng-click="showTabDialog($event)"></md-button>
    
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Cancelar</md-button>
          <md-button>Aceptar</md-button>
        </md-card-actions>
      </md-card>
    </div>
     <!--<md-chips ng-model="" readonly="ctrl.readonly"></md-chips>-->
  </div>
  <md-divider></md-divider>  
</md-list-item>
<md-button class="md-fab fa fa-plus addEmployee" ng-click="showDialog($event)"></md-button>
