<md-dialog ng-cloak style="max-width:800px;overflow: hidden;">
<div id="formStyle">
  <form class="form">
    <md-toolbar>
      <div class="md-toolbar-tools addServiceToolbar">
        <h2><i class="fa fa-user"></i>  Nuevo empleado</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="dialogForm" >
        <md-content class="md-padding" style="margin-top:2%;padding:0%;padding-top:2%;">
          <form name="employeeForm" class="form" layout="column" >
            <div flex layout="row" layout-wrap>
              <md-input-container>      
                <label>Nombre</label>
                <md-icon class="fa fa-user formIcon" style="margin-top: 10%;"></md-icon> 
                <input name="name" ng-model="employee.name">
              </md-input-container>
              <md-input-container style="margin-left:11%;">             
                <label>Apellidos</label>      
                <input name="surname" type="text" ng-model="employee.surname"></input>
              </md-input-container>
            </div>
            <div flex layout="row" layout-wrap>
              <md-input-container>              
                <label>Descripción</label>      
                <md-icon class="fa fa-commenting-o formIcon"></md-icon> 
                <input name="description" type="text" ng-model="employee.description"></input>
              </md-input-container>
              <md-input-container>              
                <label>Teléfono</label>      
                <md-icon class="fa fa-phone formIcon"></md-icon> 
                <input name="phone" type="text" ng-model="employee.phone"></input>
              </md-input-container>
            </div>
            <div flex layout="row" layout-wrap>
              <md-input-container style="margin-right: 10px;">
                <md-icon class="fa fa-tags formIcon"></md-icon> 
                <label>Servicios</label>
                <md-select ng-model="employee.services" multiple style="margin-left: 0%;">
                    <md-option ng-value="service._id" ng-repeat="service in services">{{service.name}}</md-option>
                </md-select>  
              </md-input-container>
            </div>
          </form>
        </md-content>        
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="buttonStyle" ng-click="answer()">Aceptar</md-button>
      <md-button style="margin-right:20px;" class="buttonStyle" ng-click="cancel()">Cancelar</md-button>
    </md-dialog-actions>
  </form>
</div>
</md-dialog>