<div class="head">
    <i class="fa fa-bullhorn"></i>
    <h1>Promociones</h1>
</div>
<md-list-item class="md-3-line promotions" ng-repeat="promotion in promotions">
    <img ng-src="{{promotion.images[0].src}}" alt="{{promotion.name}}" />
    <div class="md-list-item-text" layout="column">
       
          <h3>{{promotion.name}}</h3>       
          <h4 style="white-space: normal;">{{promotion.description}}</h4>
       
       <div style="margin-top: 4%;display:flex;">
	       <i class="fa fa-users formIcon"></i>
	       <p> {{promotion.useLimit}}</p>
       </div>
    </div>

	<div class="statePromotion">
		<p ng-if="promotion.state==='started'" style="color:#009688;">ACTIVA</p>
		<p ng-if="promotion.state==='finished'" style="color:red;">FINALIZADA</p>
    <p ng-if="promotion.state==='waiting'" style="color:red;">PENDIENTE</p>
	</div> 
    <div class="promotionActions">
    	<button class="fa fa-pencil" aria-label="edit" ng-click="edit($index)"></button>
			<button class="fa fa-times" aria-label="delete" ng-click="delete($index)"></button>
    </div>
       
		<md-divider ></md-divider>
</md-list-item>
<div ng-if="promotions.length==0" >
      <p>¡Actualmente no existe ninguna promoción!</p>
  </div> 
<md-button class="md-fab fa fa-plus addService" ng-click="goToNewPromotion()"></md-button>