<div class="head">
    <i class="fa fa-bullhorn"></i>
    <h2>Promociones</h2>
</div>
	<md-list-item class="md-3-line promotions" ng-repeat="promotion in promotions">
	    <img ng-src="{{promotion.images[0].src}}" alt="{{promotion.name}}" />
	    <div class="md-list-item-text" layout="column">
	       <h3>{{promotion.name}}</h3>
	       <h4>{{promotion.description}}</h4>
	       <div style="display:flex;margin-top: 4%;">
		       <i class="fa fa-users formIcon"></i>
		       <p> {{promotion.useLimit}}</p>
	       </div>
	    </div>
	    <div class="promotionActions">
	    	<button class="fa fa-pencil" aria-label="edit" ng-click="edit($index)"></button>
  			<button class="fa fa-times" aria-label="delete" ng-click="delete($index)"></button>
	    </div>
	    <div ng-if="promotions.length==0" >
		    <p>Ninguna promoción</p>
		</div>    
  		<md-divider ></md-divider>
	</md-list-item>
<md-button class="md-fab fa fa-plus addService" ng-click="goToNewPromotion()"></md-button>